

.responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive-table thead {
    display: none;
    
  }
  
  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
  }
  
  .responsive-table td {
    display: block;
    text-align: right;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
  }
  
  .responsive-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  .responsive-table td:last-child {
    border-bottom: 2px solid #bdb1b1;
    margin-bottom: 32px;
  }
  .responsive-table .table-row:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px 0 rgba(241, 226, 226, 0.1);
    
  }