/* App.css */

.NavLink {
  color: black;
  text-decoration: none;
  padding: 16px;
  border-radius: 10px;
  font-weight: bold;
}
.NavLink:hover {
  background-color: #f5f5f5;
}

.NavLink-active {
  color: #F38872; /* Your logo color */
}

body {
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  background-color: #f5f5f5; /* Neutral background */
  color: #2e2e2e; /* Text color */
}

h6{
  font-family:"Josefin Sans";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
}

p{
  margin: 0px 0px 0.35em;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 170%;
  letter-spacing: 0.00938em;
  padding-top: 8px;
}

.header {
  background-color: #F38872; /* Primary logo color */
  color: #fff;
}

.button-primary {
  background-color: #72F3B4; /* Complementary accent color */
  color: #fff;
}

.button-secondary {
  background-color: #72A1F3; /* Triadic accent color */
  color: #fff;
}

.link {
  color: #F37272; /* Analogous accent color */
}

